*   body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
      color: white;
    }

    header {
      display: flex;
      justify-content: space-between;
      padding: 25px 80px;
      background-color: rgba(255, 255, 255, 0.05);
      backdrop-filter: blur(8px);
    }

    .logo-img {
      width: 90px;
      height: auto;
      display: block;
      object-fit: contain;
    }

    .auth-buttons button {
      margin-left: 10px;
      border: none;
      padding: 10px 20px;
      border-radius: 20px;
      cursor: pointer;
      font-weight: 500;
    }

    .auth-buttons .register {
      background-color: #00ffaa;
      color: black;
      box-shadow: 0 0 10px #00ffaa;
      font-weight: bold;
    }

    .main-content {
      text-align: center;
      margin-top: 80px;
      animation: fadeIn 1.2s ease-in-out;
      
    }

    .main-text {
      margin-top: 30px;
    }

    .flash-messages {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    
    .alert {
      padding: 12px 20px;
      border-radius: 5px;
      margin-bottom: 10px;
      font-weight: 500;
      font-size: 14px;
    }
    
    .alert.success {
      background-color: #4CAF50;
      color: white;
    }
    
    .alert.error {
      background-color: #f44336;
      color: white;
    }    

    h1 {
      font-size: 40px;
      color: #00ffaa;
    }

    
    .form-container {
      background-color: rgba(255, 255, 255, 0.05);
      padding: 2rem;
      margin: 1rem auto;
      width: 400px;
      border-radius: 20px;
      box-shadow: 0 0 30px rgba(0, 255, 170, 0.2);
      display: inline-block;
      flex-direction: column;
      gap: 1.0rem;
      backdrop-filter: blur(10px);
    }

    .form-container input {
      width: 95%;
      padding: 10px;
      margin: 20px 0;
      border-radius: 10px;
      border: none;
      outline: none;
    }

    .form-container button {
      background-color: #00ffaa;
      color: black;
      border: none;
      padding: 12px;
      border-radius: 10px;
      font-weight: 600;
      width: 90%;
      margin-top: 25px;
      box-shadow: 0 0 10px #00ffaa;
      cursor: pointer;
    }

    .form-container a {
      color: #00ffaa;
      display: block;
      margin-top: 20px;
      font-size: 14px;
    }

    footer {
      display: flex;
      justify-content: space-between;
      padding: 40px;
      margin-top: 80px;
      background-color: rgba(255, 255, 255, 0.05);
    }

    .social-icons a {
      color: white;
      margin: 0 14px;
      font-size: 25px;
      transition: transform 0.3s, color 0.3s;
    }

    .social-icons a:hover {
      transform: scale(1.2);
      color: #00ffaa;
    }

    @keyframes fadeIn {
      0% { opacity: 0; transform: translateY(20px); }
      100% { opacity: 1; transform: translateY(0); }
    }