<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prestamos audiovisuales</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        
        <div class="head">
            <a href="#">
                <img src="imagenes/udi logo (nombre).png" class="Udi-logo" alt="">
            </a>
            <nav class="nav-bar">
                <ul>
                    <li><a href="#">Iniciar sesion</a></li>
                    <li><a href="#">Registrarse</a></li>                
                </ul>

            </nav>
            <h1>Prestamo de audiovisuales y salas de computo</h1>
            <h2>¡Bienvenido!</h2>
            <p>Por favor ingrese sus datos:</p>
        </div>

    </header>



</body>
</html>
