<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prestamo de audiovisuales</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>

  <header>
        <a href="https://web.udi.edu.co/">
          <img src="{{ url_for('static', filename='imagenes/udi-logo.png') }}" alt="Logo" class="logo-img">
        </a>
    <div class="auth-buttons">
      <button class="register">Registrarse</button>
    </div>
  </header>

  <div class="main-content">
    <h1>Prestamo de audiovisuales y salas de computo</h1>
    <h4 class="main-text">Ingresa tus datos:</h4>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
          <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}  

    <div class="form-container">
      <form method="post" action="/login">
        <input type="text" placeholder="Correo electrónico" name="usuario" required>
        <input type="password" placeholder="Ingresa tu contraseña" name="contrasena" required>
        <button type="submit">Iniciar sesión</button>
        <a href="#">Recuperar contraseña</a>
      </form>
    </div>
  </div>

  <footer>
    <div class="logo">Site name</div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
  </footer>
  <script>
    setTimeout(() => {
      const alerts = document.querySelectorAll('.alert');
      alerts.forEach(alert => {
        alert.style.transition = 'opacity 0.5s ease';
        alert.style.opacity = '0';
        setTimeout(() => alert.remove(), 500);
      });
    }, 4000); // 4 segundos
  </script>  
</body>
</html>